CVXcanon==0.1.1
cvxpy==0.4.11
cycler==0.10.0
dill==0.2.7.1
ecos==2.0.4
fastcache==1.0.2
matplotlib==2.1.0
multiprocess==0.70.5
numpy==1.13.3
pandas==0.21.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
scipy==1.0.0
scs==1.2.7
six==1.11.0
toolz==0.8.2
